.square {
    position: absolute;
    left: 750px;
    height: 50px;
    width: 50px;
    background-color: blueviolet;
  }
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(Images/RepeatingImg.png)
    
}
